.mainDiv{
    width: 100%;
    height: 100%;
    /* border:2px solid gray;
    margin:1%;
    background-color:rgb(230, 230, 230); */
}

.mainReposListDiv{
    margin:1% auto;
    width:70%;

}

.reposListDiv{
    background-color:white;
    border-radius: 5px;
    font-family: Comic Sans MS, Comic Sans, cursive;

}

.reposList{
    /* border: 5px solid blue; */
    background-color:white;
    text-align: center;
    padding:15px 15px 0px 15px;
    border-radius: 5px;

}

.reposListDiv a{
    text-decoration: none;  /* 移除超連結底線 */
    color: black; /* 移除超連結顏色 */  
}
.row{
    padding:10px;
    border-bottom: 1px solid rgb(233, 233, 233);
}

.row:hover{
    background-color:rgb(230, 230, 230);
    border: 2px solid gray;
    border-radius: 6px;

}

.repo-name{
    padding:1px;
}

.returnToSearchPage{
    padding:10px;
    text-align:center;
}

.returnToSearchPage:hover{
    background-color:rgb(230, 230, 230);
}